<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/Organization">
<head>
  <meta itemprop="name" content="Экстра: комплексное обслуживание интернет-магазинов">
  <meta itemprop="description" content="От создания сайта до доставки товара. Мы берём на себя: колл-центр, склад, приём и обработку заказов, упаковку и отправку, а также работу с возвратами. Сам сайт интернет-магазина для наших клиентов предоставляется бесплатно.">
  <meta itemprop="image" content="http://exxtra.ru/assets/exxxtra.logo.web.png">
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
  <link rel="icon" type="image/png" href="/favicon.png" />

  <title><%= @page_title + " — " if @page_title %>Экстра: полный аутсорсинг интернет-магазинов, комлексное обслуживание интерент-магазинов, складское хранение, колл-центр, упаковка, доставка, обработка заказов.</title>
  <meta name="keywords" content="аутсорсинг интернет-магазина, комплексное обслуживание интернет-магазинов, субподряд, склад, ответственное хранение, обработка заказов, колл-центр, отправка заказов, доставка, почта России, курьер" />
  <meta name="description" content="От создания сайта до доставки товара. Мы берём на себя: колл-центр, склад, приём и обработку заказов, упаковку и отправку, а также работу с возвратами. Сам сайт интернет-магазина для наших клиентов предоставляется бесплатно." />
  <%= stylesheet_link_tag    "site" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
  
  
  <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-23213950-2']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  </script>

  <!-- Place this render call where appropriate -->
  <script type="text/javascript">
    window.___gcfg = {lang: 'ru'};

    (function() {
      var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
      po.src = 'https://apis.google.com/js/plusone.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
    })();
  </script>
  
  
  <!-- #VKontakte -->
  <script type="text/javascript" src="http://userapi.com/js/api/openapi.js?42"></script>

  <script type="text/javascript">
    VK.init({apiId: 2678064, onlyWidgets: true});
  </script>
  
  <!-- #Facebook -->
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {return;}
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

   
</head>
<body>
  <div id="layout">
  
  <div id="head">
  
    <div id="title">
      <div id="logo"><a href="/"><img src="/assets/exxxtra.logo.web.png" alt="Экстра" /></a></div>
      
      <div id="motto">Комплексный аутсорсинг<br /> для интернет-магазинов</div>
      
      <div id="phone"><span>Звоните прямо сейчас</span>
      +7 (846) 221-64-48
      <a href="/contacts#message">или отправьте нам сообщение</a>
      </div>
    </div> <!-- #title -->
    
    <ul id="main_menu">
      <li><%= link_to_unless_current 'Начало', '/' do raw '<span>Начало</span>' end %></li>
      <li><%= link_to_unless_current 'Как это работает', '/how' do raw '<span>Как это работает</span>' end %></li>
      <li><%= link_to_unless_current 'Тарифы', '/price' do raw '<span>Тарифы</span>' end %></li>
      <li><%= link_to_unless_current 'Обучение', '/teach' do raw '<span>Обучение</span>' end %></li>

      <li><%= link_to_unless_current 'Контакты', '/contacts' do raw '<span>Контакты</span>' end %></li>
    </ul>
    <br class="clear" />
  </div> <!-- #head -->
  
  <div id="content">
  <p id="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <%= yield %>
  

  </div> <!-- #content -->
  
  <div id="footer">
    <table>
      <tr>
        <td><p id="copy">&copy; 2008-2011 ООО "Экстра"<br />
           <a href="/contacts">Контактная информация</a>
          </p></td>

        <td id="likes">
          


          
          <!-- Facebook -->
          <div style="width: 90px; margin-top: 1px;">
            <div class="fb-like" data-href="http://exxtra.ru" data-send="false" data-layout="button_count" data-width="120" data-show-faces="true" data-font="arial"></div>
          </div>
          
          <!-- Twitter -->
          <div style="width: 120px; margin-top: 2px;">
            <a href="https://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-lang="ru">Твитнуть</a><script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
          </div>
          
        
          <!-- VKontakte -->
          <div style="width: 95px; margin-top: 1px;">
            <div id="vk_like"></div>
            <script type="text/javascript">
            VK.Widgets.Like("vk_like", {type: "mini"});
            </script>
          </div>

          <!-- Google Plus -->
          <div style="width: 80px;">
            <div class="g-plusone"></div>
          </div>

       </td></tr>
       </table>
    
  </div> <!-- #footer -->

<noindex>
<!-- Yandex.Metrika counter -->
<div style="display:none;"><script type="text/javascript">
(function(w, c) {
   (w[c] = w[c] || []).push(function() {
       try {
         w.yaCounter10495273 = new Ya.Metrika({id:10495273, enableAll: true, webvisor: true});
       }
       catch(e) { }
   });
})(window, "yandex_metrika_callbacks");
</script></div>
<script src="//mc.yandex.ru/metrika/watch.js" type="text/javascript" defer="defer"></script>
<noscript><div><img src="//mc.yandex.ru/watch/10495273" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
</noindex>
  
</div> <!-- #layout -->


</body>
</html>
